<ng-container *ngIf="!token">
  <form [formGroup]="chatRoom" (ngSubmit)="onSubmit(chatRoom)">
    <label for="name">
      Display Name : <br />
      <input
        type="text"
        formControlName="displayName"
        id="name"
        placeholder="Display Name"
        name="displayName"
      />
    </label>
    <br />
    <label for="chatroom">
      Chatroom Namee : <br />
      <input
        type="text"
        placeholder="Room Name"
        formControlName="roomName"
        id="chatroom"
        name="chatroom"
      />
    </label>
    <br />

    <button type="submit" [disabled]="!chatRoom.valid">Save</button>
  </form>
</ng-container>
<app-video *ngIf="token?.length" [token]="token"></app-video>
